/*====================GOOGLE FONTS================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*======================BASE | RESET===============*/
:root {
  --lightBrown: rgb(255, 231, 123);
  --hoverBrownrgb: rgb(265, 241, 133);
  --bgBrown: rgb(253, 250, 237);
}
* {
  margin: 0;
  padding: 0;
  /*If you set box-sizing: border-box; on an element, padding and border are included in the width and height:*/
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  scroll-behavior: smooth;
}

p {
  font-weight: 300;
  color: #fff;
}
.references{
  text-decoration: underline;
  color: black;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(FoundationforGiving.jpg);
  background-size: cover;
}
.banner .content {
  /* sample_banner: 900px; */
  text-align: center;
}

.banner .content h2 {
  font-size: 5em;
  color: #fff;
}
.banner .content p {
  font-size: 1.5em;
  color: #fff;
}
.letters{
  width: 100%;
}
.letters .row{
  width: 50%;
}
.reports .row{
  width: 50%;
}
.letters .row .col50 .paragraphBox{
  width: 100%;
}
.reports .row .col50 .paragraphBox{
  width: 100%;
}
#myVideo {
  background-size: contain;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.works .content {
  overflow: scroll;
  padding-top: 250px;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}
.works .contact{
  color: white;
  background: none;
  width: 100%;
  align-items: center;

}
.works .contact p{
  color: white;


}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
.btn {
  font-size: 1.1em;
  color: #fff;
  /* background: var(--lightBrown); */
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  border-radius: 15px;
  border-style: solid;
}
.btn:hover {
  letter-spacing: 6px;
  border-radius: 15px;
}

/* .btnDirectors{
    font-size: 1.1em;
    color: #000000;
    background: var(--lightBrown); 
    display: inline-block;
    padding: 5px 5px;
    margin-top: 5px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 15px;
    border-style: solid;
}
.btnDirectors:hover{
    letter-spacing: 6px;
    border-radius: 15px;
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  color: black;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  font-weight: 900;
  background: rgb(255, 255, 255);
}
#toBio {
  display: inline-block;
  padding: 2%;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: var(--lightBrown);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}.contDirectors{
  background-color: var(--bgBrown);
}
button {
  top: 50%;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  margin-bottom: 12px;
}
button:hover {
  background-color: var(--hoverBrownrgb);
  transition: 0.7s;
}

header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  float: left;
}
header.sticky .logo {
  color: black;
}

header .logo span {
  color: var(--lightBrown);
}
header .navigation ul {
  position: relative;
  display: flex;
}
header .navigation li {
  padding: 6px 6px;
  list-style: none;
  margin-left: 30px;
  font-weight: 500;
  font-size: 1.2em;
}
header .navigation a.selectedTab {
  text-decoration: none;
  color: var(--lightBrown);
}
header .navigation a {
  text-decoration: none;
  color: #000000;
  font-weight: 900;
}

header .navigation a:hover {
  color: var(--lightBrown);
}
header.sticky a {
  color: black;
  font-weight: 900;
}

p {
  font-size: 1.1em;
  color: black;
}
section {
  padding: 5%;
}
.row {
  position: relative;
  width: 100%;
  display: inline-block;
  justify-content: space-between;
}
.row .col50 {
  position: relative;
  width: 100%;
  display: block;
}
.row .col50 .paragraphBox {
  float: left;
  width: 70%;
  text-align: justify;
}
.donations .row .col50 .paragraphBox {
    float: left;
    width: 100%;
    text-align: justify;
  }

.titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}
.titleText2 {
  float: left;
  color: #111;
  font-size: 2em;
  font-weight: 300;
}
.titleText2 span {
  color: var(--lightBrown);
  font-weight: 700;
  font-size: 1.5em;
}
.titleText span {
  color: var(--lightBrown);
  font-weight: 700;
  font-size: 1.5em;
}
.row .col50 .imgBx {
  position: relative;
  width: 25%;
  min-height: 300px;
  height: 25%;
  float: right;
}
.row .col50 .imgBx img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 .works {
  display: inline-block;
  justify-content: center;
  padding-top: 20%;
} 

.works .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
}
.works .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 600px;
}
.works .content p  {
  color: white;
}
.works .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.works .content .box .text {
  padding: 15px 0 5px;
}
.works .content .box .text h3 {
  font-weight: 400;
  color: #111;
}

/*Mision and Vision*/
.aboutMissionVision .row {
  padding-top: 0%;
  display: inline-block;
}

/*Directors for About*/

.directors .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.directorsTextContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.directors .content .box {
  width: 340px;
  margin: 20px;
  border: 2px solid var(--lightBrown);
  /* box-shadow: 0 5px 35px rgba(0,0,0, 0.3); */
}
.directors {
  width: 100%;
}
.directors .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}
.directors .content .textBox {
  width: 100%;
}
.directors .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.directors .content .box .text {
  padding: 5px 0 5px;
  text-decoration: none;
}

.directors .content .box a {
  text-decoration: none;
  color: black;
}
.contDirectors a .toBio {
  text-decoration: none;
}
/*===end===*/

/* ======donations==== */

.donations a{
    text-decoration: none;
    color: var(--lightBrown);
}
.skills {
  background: rgb(235, 235, 235);

  /* background: linear-gradient(-45deg,#e9f7cf,#549788,#6eeeb9,#9a63e2); */
  /* background-size: 400% 400%;
    animation: change 10s ease-in-out infinite; */
}

.skills .content {
  display: flex;

  flex-wrap: wrap;
  margin-top: 40px;
}
.skills .content span {
  color: var(--lightBrown);
}

.skills .content .box {
  width: 280px;
  margin: 20px;
}
.skills .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}
.skills .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.skills .content .box .text {
  padding: 15px 0 5px;
}
.skills .content .box .text h3 {
  font-weight: 400;
  color: #111;
}
.contact .content .col50 {
  width: 48%;
  display: flex;
}
.contactForm {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
}

.contactForm h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  display: inline-block;
  bottom: 0;
  height: 70vh;
  overflow-y: auto;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--lightBrown);
  color: rgb(0, 0, 0);
}

.modal-body {
  padding: 2px 16px;
}
.modal-body p {
  width: 100%;
  padding: 5%;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contact {
  display: grid;
  height: 20%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #ffd967 74%);
}
.wrapper {
  display: inline-flex;
}
.wrapper .icon {
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span {
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i {
  line-height: 60px;
  font-size: 25px;
}
.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span {
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
  background: #3b5999;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
  background: #46c1f6;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
  background: #e1306c;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
  background: #333;
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before {
  background: #de463b;
}
.wrapper .linkedin:hover span,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip:before {
  background: var(--lightBrown);
}
.contact .wrapper a {
  text-decoration: none;
  color: black;
}

/* ===========Mobile================= */
@media screen and (max-width: 768px) {
  header {
    display: inline-block;
    margin: 10px auto;
    padding: 0%;
    background: white;
  }

  header .logo {
    position: relative;
    margin: 10px 45% 0;
  }
  header .navigation {
    float: none;
    clear: left;
    width: 100%;
    height: 100%;
  }
  header .navigation li {
    margin: 10px 0;
    width: 100%;
    height: 100%;
    border-bottom: #000;
    border-top: #fefefe;
    border-left: #fefefe;
    border-right: #fefefe;
    border-style: solid;
    padding-top: 15;
    text-align: center;
  }
  .banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(sample_banner2.jpg);
    background-position: center;
    background-size: cover;
  }
  header .sticky {
    height: 100%;
  }
  header nav ul.open {
    width: 100%;
    height: 100%;
    display: block;
  }

  .banner .content p {
    font-size: 1em;
    color: #fff;
  }
  .reports{
    margin-top: 20%;
  }
  .reports .row {
    width: 100%;
    padding: 5%;}
  .letters .row {
    width: 100%;
    padding: 5%;}

  .row .col50 .imgBx {
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 100%;
  }
  .row .col50 .imgBx {
    position: relative;
    width: 100%;
    min-height: 300px;
    height: 100%;
  }
  .row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: left;
  }
  .row .col50 {
    position: relative;
    width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
  }
  .row .col50 .paragraphBox {
    width: 100%;
    text-align: justify;
  }
  .row .col50 .imgBx img {
    padding: 10%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    order: 1;
  }
  p {
    order: 3;
  }
}

/*=====================tablet=====================*/
@media screen and (max-width: 1321px) {
  .banner .content h2 {
    font-size: 3.5em;
    color: #fff;
  }
  .btn {
    font-size: 1.1em;
    color: #fff;
    /* background: var(--lightBrown); */
    display: inline-block;
    padding: 8px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 15px;
    border-style: solid;
  }

  header {
    display: inline-block;
   
  }

  header .logo {
    width: 100%;
    margin: 10px 40% 0;
    float: left;
  }
  header.sticky {
    background: white;
    padding: 5%;
    margin-top: 0;
    margin-right: 20%;
    /* box-shadow: 0 5px 20px rgba(0,0,0, 0.05); */
  }

  header.sticky .logo {
    color: black;
  }
  header .burger-nav {
    float: right;
    margin-top: 2px;
    display: block;
    height: 40px;
    width: 100%;
    background: url(burger.png) no-repeat 98% center;

    cursor: pointer;
  }

  header nav ul {
    overflow: hidden;
    background: white;
    height: 0;
  }

  header nav ul.open {
    width: 100%;
    height: 50%;
    display: block;
  }

  header nav ul li {
    margin: 0;
    float: none;
    text-align: left;
    width: 100%;
  }
  header nav ul li a {
    color: white;
    padding: 10px;
    /* border-bottom: 1px solid #404040; */
    margin: 0;
    width: 100%;
  }

  header nav ul.open {
    width: 100%;
    height: auto;
    display: block;
  }
  header nav ul.open li {
    background: white;
    margin: 0;
    color: black;
    float: none;
    text-align: right;
    width: 100%;
  }

  header.sticky nav ul li {
    background: white;
    margin: 0;
    float: none;
    text-align: right;
    width: 100%;
  }

  header nav ul li {
    margin: 0;
    float: none;
    text-align: left;
    width: 100%;
  }
  header nav ul li a {
    color: white;
    padding: 10px;
    /* border-bottom: 1px solid #404040; */
    margin: 0;
    width: 100%;
  }
  header nav ul.open li a {
    color: black;
    padding: 20px;
    /* border-bottom: 1px solid #404040; */
    margin: 0;
    width: 100%;
  }

  .banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(sample_banner2.jpg);
    background-position: center;
    background-size: cover;
  }
  .about {
    padding: 10%;
    margin-top: 80px;
  }
  .donations {
    padding: 10%;
    margin-top: 80px;
  }

  .works {
    margin-top: 0;
    padding: 5%;
  }
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .works .content {
    left: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
    align-items: center;
    text-align: center;
  }

  .row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
  .row .col50 {
    position: relative;
    width: 100%;
    text-align: justify;
  }
  .row .col50 .titleText {
    width: 100%;
    /* order: 1; */
  }
  p {
    /* order: 2; */
    text-align: justify;
    float: left;
  }
  .row .col50 .imgBx {
    float: right;
    /* width: 100%;
        height: 100%; */
  }
  .row .col50 .imgBx img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .skills {
    padding: 5%;
  }
  .skills h2 {
    font-size: 2em;
  }

  .contact {
    display: grid;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #ffffff 0%, #ffc99d 74%);
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper .icon {
    padding: 5%;
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span {
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i {
    line-height: 60px;
    font-size: 25px;
  }
  .wrapper .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span {
    color: #fff;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip:before {
    background: #3b5999;
  }
  .wrapper .twitter:hover span,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip:before {
    background: #46c1f6;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip:before {
    background: #e1306c;
  }
  .wrapper .github:hover span,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip:before {
    background: #333;
  }
  .wrapper .youtube:hover span,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip:before {
    background: #de463b;
  }
  .wrapper .linkedin:hover span,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip:before {
    background: var(--lightBrown);
  }
  .contact .wrapper a {
    text-decoration: none;
    color: black;
  }
}
